<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Especies de Árboles</title>
    <script>
        async function uploadFile(event) {
            event.preventDefault(); // Evita el comportamiento por defecto del formulario

            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];

            if (!file) {
                alert('Por favor, selecciona un archivo.');
                return;
            }

            const formData = new FormData();
            formData.append('file', file);

            try {
                const response = await fetch('http://localhost:5555/api/predictspecie', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    throw new Error('Error en la solicitud: ' + response.status);
                }

                const result = await response.json();
                document.getElementById('result').textContent = 'Especie predicha: ' + result.species;
            } catch (error) {
                console.error('Error:', error);
                document.getElementById('result').textContent = 'Error al predecir la especie.' + error.message;
            }
        }
    </script>
</head>
<body>
    <h1>Predicción de Especies de Árboles</h1>
    <form id="uploadForm" onsubmit="uploadFile(event)">
        <input type="file" id="fileInput" accept="image/*" required>
        <button type="submit">Enviar</button>
    </form>
    <div id="result"></div>
</body>
</html>
